html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  background-color: #0f1f4f;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

.dsu-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .dsu-wrapper {
    padding: 3vw;
  }
}

.dsu-container {
  max-width: 800px;
  max-height: 280px;
  width: 100%;
  position: relative;
  background: #1f1814;
  border-radius: 7px;
}

#led {
  position: absolute;
  left: 06.10%;
  top: 18.25%;
  width: 88.00%;
  height: 69.50%;
}

.platform-label {
  height: 9%;
  position: absolute;
  top: 89.5%;
  left: 7%;
}

.controls {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.05);
  width: calc(100% - 10vw);
  left: 5vw;
  height: 100px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: white;
  display: flex;
  padding: 0 15vw;
}

@media screen and (max-width: 800px) and (orientation: portrait) {
  .controls {
    flex-direction: column;
    height: 200px;
  }
}

.controls-platform, .controls-station {
  text-align: center;
  flex-grow: 1;
}

h3 {
  font-weight: normal;
  margin-bottom: 0.5em;
}

.controls-platform ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.controls-platform li {
  display: inline-block;
  margin: 0;
}

.controls-platform button {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.controls-platform button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.controls-platform button.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.controls-platform button:disabled {
  background-color: rgba(0, 0, 0, 0.5);
  color: gray;
  cursor: default;
}

#error {
  color: whitesmoke;
  opacity: 0;
  margin-top: 2em;
}

#about {
  position: absolute;
  right: 1em;
  top: 1em;
  color: white;
  font-size: 0.75rem;
  opacity: 0.4;
}

@media screen and (max-width: 800px) {
  #about {
    right: 0;
    width: 100%;
    text-align: center;
  }
}

#about a,
#about a:visited,
#about a:hover,
#about a:active {
  color: white;
  text-decoration: underline;
}

#supports {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#pylon1,
#pylon2 {
  position: absolute;
  top: 0;
  height: 50%;
  background-color: #16110e;
  width: 30px;
  border-left: 3px solid #18100b;
  border-right: 3px solid #211610;
}

#pylon1 {
  /* 15px is 1/2 of 30px width, this properly distributes around centerline */
  left: calc(50% - 250px - 15px);
}

#pylon2 {
  /* 15px is 1/2 of 30px width, this properly distributes around centerline */
  left: calc(50% + 250px - 15px);
}

@media screen and (max-width: 800px) {
  #pylon1,
  #pylon2 {
    display: none;
  }
}

#roof {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 36px;
  background-color: #18100b;
}

#signage-container {
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 800px) {
  #signage-container {
    display: none;
  }
}

@media screen and (max-height: 600px) {
  #signage-container {
    display: none;
  }
}

#sign {
  height: 42px;
  padding: 0 140px;
  min-width: 540px;
  max-width: 720px;
  background-color: #121111;
  border-top: 3px solid #121111;
  border-bottom: 3px solid #100e0e;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.station-name {
  height: 18px;
  filter: invert(.8);
}
